#search-input{
    background-color: $gray-500;
}

#search-input-group{
    position: relative;
}

#search-icon{
    position: absolute;
    top: 25%;
    right: 10px;
}

.ingredients__text-input, .appliances__text-input, .ustensils__text-input{
    border-right: none !important;
}

.ingredients__text-input-lg, .appliances__text-input-lg, .ustensils__text-input-lg{
    border-radius: 5px 0 0 0 !important;
    border-bottom: none !important;
    border-right: none !important;
}

.ingredient, .appliance, .ustensil{
    display: flex;
    cursor: pointer;
    width: 13rem;
    height: 2.55rem;
    padding-left: 10px;
    align-items: center;
    &:hover{
        filter: brightness(80%);
    }
}

.ingredients, .appliances, .ustensils{
    width: 200px !important;
    min-width: 10rem;
    position: relative;
    border-right: none;
}

.ingredients-lg, .appliances-lg, .ustensils-lg{
    width: 630px !important;
}

#input{
    display: flex;
}

.input-group{
    height: fit-content;
}

.ingredients__ul, .appliances__ul, .ustensils__ul{
    display: flex;
    flex-wrap: wrap;
    width: inherit;
}

.rounded-right{
    border-top-right-radius: 5px !important;
    border-bottom-right-radius: 5px !important;
}

.chevron-ingredients-deployed, .chevron-appliances-deployed, .chevron-ustensils-deployed{
    border-left: none !important;
    border-bottom: none !important;
    border-bottom-right-radius: 0 !important;
}